<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Portfólio</title>
   <link rel="stylesheet" href="../static/css/style.css">
   <link rel="shortcut icon" href="../static/img/icon.ico" type="image/x-icon">
   
           
   <!--Link para acessar os icones do site font-awesome-->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

   

   <nav>
      <ul>
         <li><a href="#inicio">Inicio</a></li>
         <li><a href="#sobre-mim">Sobre mim</a></li>
         <li><a href="#projetos">Projetos</a></li>
         <li><a href="#habilidades">Habilidades</a></li>
         <li><a href="#contato">Contato</a></li>
      </ul>
   </nav>

   <header id="inicio">

      <div>
         <p> "Faça o teu melhor, na condição que você tem, enquanto não tem condições melhores, para fazer melhor
            ainda!" </p>
         <span>Mario Sergio Cortella</span>
      </div>

      <div id="img-rocket">
         <img src="../static/img/coding.png" alt="Imagem de uma pessoa trabalhando" />
      </div>

   </header>

   <section id="sobre-mim">

      <div>
         <img src="../static/img/fotoedu3.jpg" width="100" alt="Foto 3x4 do Eduardo">
      </div>

      <div>
         <p>
            Eu acredito no poder da educação como um agente transformador de realidades, isso porque eu tive a
            oportunidade de me formar no curso superior de sistemas de informação, isso mudou a minha realidade social e
            econômica, me gerando recursos para estudar ainda mais.
      
            A partir disso fui encorajado a iniciar minha carreira de docente. Já lecionei para turmas de
            desenvolvimento web e infraestrutura Cisco no Instituto da oportunidade social o IOS, hoje no mesmo
            Instituto leciono aulas de Desenvolvimento Web Full Stack, esta experiência incrível me proporciona atuar
            diretamente em um projeto de impacto social, isso me ensina muito a aprender e a ensinar. Amo o que faço,
            essa é minha vocação, ser professor, influenciar e motivar pessoas!
         </p>
      </div>

   </section>
   
   <section id='tituloPython'>
      <h1>Projetos em Python</h1>
   </section>

   <section id="projetos">
      
      <div>
         <img src="../static/img/detetive2.png" alt="Desenho de um detetive">
         <h2>Projeto Detetive</h2>
         <p>Esse projeto totalmente em Python é um programa totalmente em Python que faz perguntas ao usuario sobre um crime e conforme as respostas, diz se o usuario que esta repondendo é "inocente", "suspeito", "cumplice" ou "culpado. </p>
         <a href="https://github.com/EduardoLovo/Blue_Eduardo/blob/main/Modulo_1/Projeto1Detetive/Projeto_Finalizado.py"><button>Veja mais</button></a>
      </div>
      

      <div>
         <img src="../static/img/Jo-Ken-Po2.png" alt="Desenho Jo-Ken-Po">
         <h2>Projeto Jo-Ken-Po</h2>
         <p>Um jogo de Jo-Ken-Po totalmente em Python onde você pode escolher quantas rodadas deseja jogar e mostra o numero de "vitorias", de "derrotas" e o campeão de todas as rodadas.</p>
         <a href="https://github.com/EduardoLovo/Blue_Eduardo/blob/main/Modulo_1/Projeto2Jokenpo/ProjetoJokenpo.py"><button>Veja mais</button></a>
      </div>

      <div>
         <img src="../static/img/urna-eletronica.png" alt="Desenho urna eletrocina">
         <h2>Projeto Votação</h2>
         <p>Esse programa totalmente em Python simula uma eleição, ele mostra quantos votos cada candidato teve e se houve um capeão ou se houve empate entre os candidatos.</p>
         <a href="https://github.com/EduardoLovo/Blue_Eduardo/blob/main/Modulo_1/Projeto3Vota%C3%A7%C3%A3o/ProjetoVota%C3%A7%C3%A3o.py"><button>Veja mais</button></a>
      </div>

      <div>
         <img src="../static/img/jogoo.png" alt="Desenho de um controle de video game">
         <h2>Projeto Jogo interativo</h2>
         <p>Um jogo interativo totalmente em Python, se chama "Super Batata" onde você precisa derrotar todos seus inimigos para ganhar o jogo. Conforme as suas respostas você pode treinar seu personagem e batalhar contra seus inimigos para avançar no jogo.</p>
         <a href="https://github.com/EduardoLovo/Blue_Eduardo/tree/main/Modulo_1/ProjetoFinal/Projeto%20final"><button>Veja mais</button></a>
      </div>

   </section>

   <section id="habilidades">
      
      <h2>Habilidades Técnicas</h2>

      <p>Python</p>
      <div>
         <span id="python">80%</span>
      </div>

      <p>HTML 5</p>
      <div>
         <span id="html">50%</span>
      </div>

      <p>CSS 3</p>
      <div>
         <span id="css">30%</span>
      </div>

      <p>JavaScript</p>
      <div>
         <span id="javaScript">30%</span>
      </div>

   </section>


   <!-- Contato -->

   <section id="contato">

      <div id="redes">
         <h3>Se conecte comigo</h3>

         <div id="icons">
            <a href="https://www.linkedin.com/in/eduardo-felipe-lovo-475019214/" target="_blank"> 
               <i class="fa fa-linkedin-square" aria-hidden="true"></i> 
            </a>
   
            <a href="https://github.com/EduardoLovo" target="_blank"> 
               <i class="fa fa-github" aria-hidden="true"></i> 
            </a>
   
            <a href="https://www.instagram.com/eduardo.llovo/?hl=pt-br" target="_blank"> 
               <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
         </div>
         
      </div>

      <div id="form">

         <h3>Mande uma mensagem</h3>

         <form action='/send' method="POST">
            <label for="nome">Nome</label>
            <input type="text" placeholder="Digite seu nome" id="nome" name="nome">

            <label for="email">E-mail</label>
            <input type="email" placeholder="Digite seu email" id="email" name="email">


            <label for="mensagem">Mensagem</label>
            <textarea name="mensagem" id="mensagem" cols="30" rows="10" placeholder="Digite sua mensagem"></textarea>

            <button type="submit" id="enviar">Enviar</button>

         </form>
      

         <div id="carregamento">
            <p>Enviando mensagem</p>
            <div id="loader"></div>
         </div>
      </div>         
      
      </section>

   </section>


   <!-- Fim do Contato -->

   <script src="../static/js/script.js"></script>

</body>

</html>